[submodule "flatboat-cli"]
	path = flatboat-cli
	url = https://github.com/JuanCSUCoder/flatboat-cli.git
[submodule "flatboat-images"]
	path = flatboat-images
	url = https://github.com/JuanCSUCoder/flatboat-images.git
[submodule "flatboat-templates"]
	path = flatboat-templates
	url = https://github.com/JuanCSUCoder/flatboat-templates.git
[submodule "flatboat-brand"]
	path = flatboat-brand
	url = https://github.com/JuanCSUCoder/flatboat-brand.git
[submodule "flatboat-docs"]
	path = flatboat-docs
	url = https://github.com/JuanCSUCoder/flatboat-docs.git
